@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}

html {

    scroll-behavior: smooth
}

h2 {
    color: #54f5ba
}

.slidecontainer {

    align-items: center;
    justify-content: space-evenly;
}

.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04AA6D;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}


@media only screen and (orientation: landscape) {
    .slidecontainer {
        margin-top: 1%;

        width: fit-content;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .slidecontainer h2 {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .hidden-imgs {
        visibility: collapse;
        width: 0%;
        height: 0%;
    }

    img {
        width: 30%;
        height: 80%;
        border: 1px solid black;

        display: flex;
        align-items: center;

    }


    .title {

        margin-top: 1%;

    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .img-container {
        margin-top: 1%;
        display: flex;
        align-items: normal;
        justify-content: center;
        height: 100%;
    }

    .footer__text {
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 0;
        font-size: 1rem;
        color: black
    }

    .footer__text a {
        font-size: 1rem;
        color: black;
        transition: all .2s ease-in-out;
        text-decoration: none;

    }





}


@media only screen and (orientation: portrait) {

    .slidecontainer {

        width: fit-content;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .slidecontainer h2 {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .hidden-imgs {
        visibility: collapse;
        width: 0%;
        height: 0%;
    }

    img {
        width: 50%;
        height: 40%;
        border: 1px solid black;
        margin: auto;

    }


    .title {
        margin-top: 5%;
        display: flex;
        justify-content: space-evenly;

    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-container {
        margin: auto;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer__text {
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 0;
        font-size: 1rem;
        color: black
    }

    .footer__text a {
        font-size: 1rem;
        color: black;
        transition: all .2s ease-in-out;
        text-decoration: none;
    }







}